.header{
    width: 100vw;
    height: 70px;
    border: none;
    background-color:rgb(46, 44, 44);
    margin: 0 auto;
    padding: 0;
    text-emphasis-color: black;
}
.logo{
    padding-top: 15px;
}
.upper_header{
    width: 100vw;
    height: 50px;
    background-color: honeydew;
}
label{
    float: left;
    padding: 15px;
}

a{
    color: khaki;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
.image{
    size: 600px;
}

.grid-container{
    content: "";
    display: table;
    clear: both;
    margin-left: 14%;
}
.grid-item{
    float: left;
    padding: 10px;
    height: ;
}
body{
    margin: 0;
}
/* .content_holder{
    display: table;
    clear: both;
    margin-left: 14%;
} */